<html xmlns:th="http://www.thymeleaf.org">
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
<form th:action="@{/logout}" method="POST">
<div class="container text-center">
<h1>Thank you for booking</h1>
<h2>Enjoy your Trip</h2>
<h2>If Any Update or cancel the booking means contact admin</h2>
<h2>Admin- Alex Pandian(7871039085)</h2>
<h2><input class="btn btn-primary" type="submit" value="sign out"/></h2>
</div>
</form>
</head>
</html>